<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script
      src="https://kit.fontawesome.com/3c09bcb51a.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Product page</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-primary mb-5">Please add a product name</h1>
        <a href="/addProduct" class="btn btn-warning my-2">Add Product name</a>
        
            <form class="form-inline mb-5 float-right" method="GET" action="/singleproduct/"<%= data.articleNo %> >
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Product'name</button>
            </form>
          
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Article's number</th>
                    <th>Article's name</th>
                    <th>Price</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i < data.length; i++) { %>
                <tr>
                    <td><%= data[i].name %></td>
                    <td><%= data[i].articleNo %></td>
                    <td>$ <%= data[i].price %></td>
                    <td><a href="/delete/<%= data[i].articleNo%>" class="delete" title="Delete entrie"><i class="fas fa-trash-alt ml-3"></i></a></td>
                    <td><a href="/update/<%=data[i].articleNo%>" title="Update entrie"><i class="fas fa-retweet ml-3"></i></a></td>
                </tr>
              <% } %> 
            </tbody>
        </table>
    </div>

    <script>
        document.querySelector(".delete").addEventListener("click",()=>{
            alert("Are you sure to delete this?")
        })
    </script>
    
</body>
</html>
